NODE_ENV=development
PORT=5001
MONGO_URI=mongodb+srv://username:password@cluster0.example.mongodb.net/?appName=Cluster0
JWT_SECRET=replace-with-a-securely-generated-random-string
CLIENT_URL=http://localhost:5173
